.loginPage{
    background-image:url('/public/Image/emp.jpg');
    background: linear-gradient(rgba(11,11,11,0.5),rgba(10,10,10,0.5),url('public/Image/emp.jpg'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginForm{
    background-color: rgb(100, 149, 237, 0.7);
    color: white;
}

ul li :hover{
    background-color: gray;
}

.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
} 


